.navigation-bar{
    box-shadow: 0px 5px 20px -16px rgb(0, 81, 255)  !important;
}

.ham{
    display: none;
}
.nav-brand-name{
    font-family: var(--poppins) !important;
    font-size: 25px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.nav-items{
    font-size: 20px !important;
    font-family: var(--poppins) !important;
    font-weight: 600 !important;
    cursor: pointer;
   
}


@media (max-width:750px) {

    .ham{
        display: block;
    }
}